@utility container {
    max-width: var(--wp--style--global--wide-size);
}

@utility alignfull {
    width: 100vw;
    margin: 0 calc(50% - 50vw) !important;
}

@utility alignwide {
    width: calc(200px + var(--wp--style--global--wide-size));

    img {
        width: 100%;

        margin: 0 -100px 0 -100px !important;
    }
}

@utility alignnone {
    height: auto;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

@utility aligncenter {
    margin: 0.5rem auto !important;
}

@utility customgradient{
    background: linear-gradient(92.11deg, #8D3B3E -8.47%, #49211C 98.22%);
}
@utility custom-gray{
    color: #BCBCBC;
}

@utility custom-min-h{
    min-height: 500px;
}

@utility black-opacity-0.5{
    background: rgba(0,0,0,0.5);
}

@utility red-ram{
    background: #93292c;
}

@utility text-red-ram{
    color: #93292c;
}

@utility border-red-ram{
    border-color: #93292c;
}

@utility text-wave{
    color: #eb0071;
}

@utility max-w-8xl{
    max-width: 1500px;
}

@utility font-neue{
    font-family: 'Neue Plak Sans';
}

@utility bg-white-50{
    background: rgba(255,255,255,0.1);
}

@utility bg-black-40{
    background: rgba(0,0,0,0.4);
}

@utility btn-gray{
    background: #595555;
}